.console-btn {
    font-weight: 400;
    font-family: 'Home', sans-serif;
    font-size: 16px;
    background-color: black;
    color: #33ff33; /* Зеленый цвет текста, как в терминале */
    border: 2px solid #33ff33;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #33ff33;
    position: relative;
    overflow: hidden;
}

.console-btn:hover {
    background-color: #33ff33;
    color: black;
    box-shadow: 0 0 15px #33ff33;
}

.console-btn:active {
    background-color: #1a661a;
    box-shadow: 0 0 5px #33ff33;
}