.LangBtn{
    background: none;
    font-family: 'Font Over', sans-serif;
    font-size: 16px;
    color: #FFF;
    padding: 3px 6px;

    span{
        opacity: 0.7;
    }

    span.active{
        opacity: 1;
        color: #007800;
    }
}