/* @import "@fontsource-variable/onest"; */
@font-face {
  font-family: 'Font Over';
  src: url('./assets/fonts/Font Over.woff2') format('woff2'),
       url('./assets/fonts/Font Over.woff') format('woff'),
       url('./assets/fonts/Font Over.ttf') format('truetype'),
       url('./assets/fonts/Font Over.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Home';
  src: url('./assets/fonts/HomeVideo/HomeVideo-Regular.woff2') format('woff2'),
       url('./assets/fonts/HomeVideo/HomeVideo-Regular.woff') format('woff'),
       url('./assets/fonts/HomeVideo/HomeVideo-Regular.ttf') format('truetype'),
       url('./assets/fonts/HomeVideo/HomeVideo-Regular.otf') format('opentype'),
       url('./assets/fonts/HomeVideo/HomeVideo-Bold.woff2') format('woff2'),
       url('./assets/fonts/HomeVideo/HomeVideo-Bold.woff') format('woff'),
       url('./assets/fonts/HomeVideo/HomeVideo-Bold.ttf') format('truetype'),
       url('./assets/fonts/HomeVideo/HomeVideo-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Font Over', sans-serif;
  background-color: #222;
  color: white;
}
