.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 3px solid #006000;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-name {
    font-size: 18px;
    font-weight: 400;
    color: #006000;
}

.logo-subtitle {
    font-size: 14px;
    color: #aaa;
}

@media (max-width: 768px) {
    .logo {
        flex-grow: 1;
    }
}